each entry in list
    if entry.learning
        li(class=`carousel__item ${entry.learning}`)
            .carousel__box
                .carousel__skills
                    i(class=`${entry.icon} + carousel__icon`)
                    .carousel__wrp
                        h3.carousel__title.title=entry.title
                        span.carousel__text.text=entry.text
                .carousel__layer
    else
        li.carousel__item
            .carousel__box
                .carousel__skills
                    i(class=`${entry.icon} + carousel__icon`)
                    .carousel__wrp
                        h3.carousel__title.title=entry.title
                        span.carousel__text.text=entry.text
                .carousel__layer